@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<div asp-validation-summary="All" class="text-danger"></div> 

<h1>Create New Role</h1>
<form asp-action="Create">
    <partial name="PartialViews/_CreateEditPartialView" />
    <input type="submit" value="Create Role" class="btn btn-outline-success"/> |
    <a asp-action="Index" class="btn btn-outline-secondary">Back To List</a>
</form>

