@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<div> Are you sure to delete @Model.RoleName Role ?</div>
<form asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsPartialView" />
    <input class="btn btn-danger" type="submit" value="Delete" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

