@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.RoleName Role Details</h1>

<partial name="PartialViews/_DeleteDetailsPartialView" />
<a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.RoleId">Edit</a>
<a class="btn btn-light" asp-action="Index">Back To List</a>