@model Employee
@{
    ViewData["Title"] = "Delete";
}

<div asp-validation-summary="All" class="text-danger"></div>

<h1>Are you sure you want to delete @Model.Name ?</h1>
<br />
<form asp-action="Delete">
    <partial name="/PartialViews/_DeleteDetailsPartialView" />
    <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
