
@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            Password Reset Link Has Been Sent To you Email, Please Check Your Inbox
        </div>
        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Go to your inbox</a>
    </div>
</div>
